@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 400;
  background: rgb(246 246 246 / 58%);
  color: #777777;
}

.question_form_wrapper {
	padding: 80px 0;
}

.question_form_wrapper h2 {
	font-size: 30px;
	font-weight: 700;
	color: #000000;
}

.mt_10 {
	margin-top: 10px;
}

.question_form_wrapper form input, 
.question_form_wrapper form textarea {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    border: 1px solid #cec2c2;
}

.question_form_wrapper form textarea {
	height: 150px !important;
	padding-top: 20px;
}

.question_form_wrapper form button {
	padding: 0 20px;
	height: 55px;
	display: inline-flex;
	align-items: center;
	border: transparent;
	color: #ffffff;
	justify-content: center;
	flex-shrink: 0;
	background: #ab9c81;
	margin-top: 30px;
	transition: 0.4s all ease-in-out;
}

.question_form_wrapper form button:hover {
	opacity: 0.7;
}

.question_form_wrapper figure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 485px;
    padding: 30px;
}

.question_form_wrapper figure .inner_box {
    border: 10px solid #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.question_form_wrapper figure .inner_box h3 {
    color: #B04247;
    padding: 20px;
    background: #ffffff;
    margin: 30px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){
	
}
@media (min-width: 1400px) { 
	
}
@media (min-width: 1200px) {

}

@media (max-width: 1199px) { 

}

@media (max-width: 991px) {
	.question_form_wrapper figure {
		margin-top: 40px;
	}
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
		
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

}
